/* global.css */
html, body, #__next {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* Opcional: esconder a scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
